* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}

/*NAVEGACION HEADER*/

.navbar {
    padding-bottom: 0px;
    padding-top: 0px;
}

.container-fluid {
    background-color: rgb(53, 58, 64);

    .navbar-brand {
        color: white;

    }
}

.navbar-brand img {
    width: 50%;

}

#navbarNav .navbar-nav {
    display: flex;
    list-style: none;
    margin-bottom: 1px;
    padding: 0;
    align-items: center;

    .nav-item {
        padding-right: 20px;

    }
}

.navbar-light .navbar-nav .nav-link {

    color: rgb(114, 111, 111);
}

.nav-link-verde {
    color: rgb(5, 197, 5);
    text-decoration: none;
    font-size: 20px;
}




/*CONFERENCIA*/

.conferencia__museo {

    background-image: linear-gradient(to right, #0d0d0dcb, #0c0c0c5e, #0b0b0ba2), url(../assets/img/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;


}


.conferencia__museo__texto {
    font-family: sans-serif;
    font-size: small;
    text-decoration: none;
    text-align: right;
    color: white;
    padding-left: 25%;
    padding-top: 120px;
    padding-right: 10px;
    padding-bottom: 50px;
    line-height: 1.5;


}

.conferencia__museo__texto__botonOrador {

    color: whitesmoke;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(89, 167, 37, 0);
    border: solid thin white;
    text-align: center;
    bottom: 60px;
    right: 50px;

}

.tickets {
    color: white;
    text-decoration: none;
    padding: 9px;
    border-radius: 5px;
    background-color: rgba(89, 167, 37, 0.863);
    text-align: center;
    bottom: 60px;
    right: 50px;

}

@media screen and (min-width: 0) and (max-width:991px) {

    .tickets,
    .conferencia__museo__texto__botonOrador {
        padding: 9px;
    }



    @media screen and (min-width:992px) {

        .tickets,
        .conferencia__museo__texto__botonOrador {
            padding: 5px;
        }

    }

}

.verde {
    line-height: 3;
    border-bottom: white;
    border-radius: 10px;

}

.blanco {
    color: white;
    text-decoration: none;
}

/*ORADORES*/


.oradores {
    padding-top: 50px;
   
}

#oradores {
    text-align: center;
    font-family: sans-serif;
}


.row {
    padding-bottom: 1%;
    padding-left: 20%;
    padding-top: 2%;
    padding-right: 16%;
}



#entradas:hover,
div h4 {
    text-align: center;
    font-family: sans-serif;
    transform: scale(1);
    filter: initial;
    font-size: 1.2em;
    text-align: center;
    font-family: sans-serif;
}

.ventaDeTickets__animate__animated animate__headShake {
    animation-duration: 2s;
    text-align: center;
    font-family: sans-serif;
    
}


.propia{
    display: block;
}

/*TARJETAS*/


.rojo {
    background-color: red;
    border-radius: 5px;
    color: white;
    width: 15%;
    display: inline;
    justify-content: center;
    text-align: center;
}

.amarillo {
    background-color: yellow;
    border-radius: 5px;
    width: 15%;
    display: inline;
    justify-content: center;
    text-align: center;
}

.gris {
    background-color: grey;
    border-radius: 5px;
    color: white;
    width: 15%;
    display: inline;
    justify-content: center;
    text-align: center;
}

.celeste {
    background-color: rgb(6, 165, 218);
    border-radius: 5px;
    color: white;
    width: 20%;
    display: inline;
    justify-content: center;
    text-align: center;
}


.border border-primary {

    width: 15%;
    display: inline;
    justify-content: center;
    text-align: center;


}

.border border-success {

    width: 15%;
    display: inline;
    justify-content: center;
    text-align: center;
}

.border border-warning {
    width: 15%;
    display: inline;
    justify-content: center;
    text-align: center;
}

/*BS. AS. OCTUBRE*/

#lugarFecha {

    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    border-style: groove;
    text-align: left;

}


.lugarFecha__texto {
    color: white;
    border: 1px solid white;
    background-color: rgb(53, 58, 64);
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    width: 200%;
    height: 60vh;
}

.lugarFecha__img {
    background-image: url(../assets/img/honolulu.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 200%;
    height: 60vh;
}

.lugarFecha__boton {
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    width: 100px;
    background-color: transparent;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}




@media screen and (min-width: 0) and (max-width:991px) {
    #lugarFecha {
        flex-direction: column;

        .lugarFecha__texto {
            width: 100%;
            height: 100vh;
        }

        .lugarFecha__img {
            width: 100%;
            height: 60vh;
        }
    }



    @media screen and (min-width:992px) {
        #lugarFecha {
            flex-direction: row;

            .lugarFecha__img {
                width: 50%;
                height: 60vh;
            }

            .lugarFecha__texto {
                width: 50%;
                height: 60vh;
            }
        }
    }
}

/*FORMULARIO*/
#formularioOrador {

    font-family: sans-serif;
    width: 450px;
    margin: auto;
    padding: 25px 17px;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 1.5;

}

#formularioOrador p {
    font-size: small;
    font-family: sans-serif;
    width: 100%;


}

.formularioOrador__completar textarea {
    width: 100%;
    height: 100px;
    margin: 8px 0;
    display: flex;
    justify-content: space-evenly;


}

.formularioOrador__enviar {

    background-color: rgb(11, 230, 11);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 5px;
    padding-bottom: 10px;
    border: none;
    text-align: center;
    font-weight: bold;
    color: white;
}


.ventaDeTickets h2 {
    text-align: center;

}

/*FORMULARIO DE TICKETS*/

#btnBorrar #btnResumen {

    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #f8fafc;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: rgba(89, 167, 37, 0.863);
    border: 1px solid transparent;

}

/*NAVEGACION FOOTER*/



.container-fluidFooter {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(5, 5, 92, 1) 0%, rgba(54, 54, 130, 1) 35%, rgba(12, 90, 198, 1) 100%);
    width: 100%;
}

.navbar-nav {
    padding-left: 200px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
}

.nav-link {
    font-family: sans-serif;
    color: rgb(201, 194, 194);
    font-size: 1rem;
    text-decoration: none;


}